<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>E0-001-114645349-0@2019072319</key>
	<array>
		<string>The Book Of Mormon</string>
		<string>32.717426</string>
		<string>-117.1624216</string>
		<string>http://sandiego.eventful.com/events/book-mormon-/E0-001-114645349-0@2019072319?utm_source=apis&amp;utm_medium=apim&amp;utm_campaign=apic</string>
		<string>2019-07-23 19:00:00</string>
		<string>San Diego Civic Theatre</string>
		<string>1100 Third Avenue</string>
		<string>California</string>
		<string>San Diego</string>
		<string>http://d1marr3m5x4iac.cloudfront.net/images/small/I0-001/004/097/144-8.jpeg_/the-book-of-mormon-44.jpeg</string>
		<string>It might be hard for some people to believe that the hottest musical on something as dignified as Broadway, is a parody called The Book of Mormon. While some had their reservations (and many still do) about the quality of a play that satirizes a single religion, audiences and critics are applauding the production values, songs, acting, and well-developed plot. Even the Church of Jesus Christ of Latter-day Saints isn&apos;t condemning the production, only emphasizing the line between fiction and reality. Because The Book of Mormon isn&apos;t ridiculing Mormonism, it&apos;s parodying all organized religion; and doing so in true Broadway fashion.</string>
		<string>Concerts&amp;amp;Tour Dates</string>
	</array>
</dict>
</plist>
